@{

    Layout = "/Areas/Identity/Pages/_Layout.cshtml";

}

<h2>Manage your account</h2>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
        <div class="col-md-5">
            @Html.ActionLink("Deposit", "Deposit", "BankAccount", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Send", "Send", "BankAccount", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Exchange", "Exchange", "BankAccount", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
