@{


    Layout = "/Areas/Identity/Pages/_Layout.cshtml";


}

<h2>Manage your account</h2>

<div>

    <hr />
    <div class="row">
        <div class="col-md-3" style="display: flex; justify-content: flex-start">
            
            <div>
                @Html.ActionLink("Deposit", "Deposit", "BankAccount", null, new { @class = "btn blue", style = "margin:5px" })
            </div>
            <div>
                @Html.ActionLink("Send", "Send", "BankAccount", null, new { @class = "btn blue", style = "margin:5px" })
            </div>
            <div>
                @Html.ActionLink("Exchange", "Exchange", "BankAccount", null, new { @class = "btn blue", style = "margin:5px" })
            </div>
            <div>
                @Html.ActionLink("Pay for a Service", "PayService", "BankAccount", null, new { @class = "btn blue", style = "margin:5px" })
            </div>
        </div>
    </div>
    <hr />
    <h4>Change your account settings:</h4>

    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />

        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>

    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
