
@model List<BankingSystem.Models.BankAccountViewModel>
@{
    ViewData["Title"] = "AccountsList";
}

<h2>AccountsList</h2>

@if (Model.Count == 0)
{
    <p>You do not have any open account</p>
    <div>
        @Html.ActionLink("OpenAccount", "OpenAccount", "BankAccount", null, new { @class = "btn blue", style = "margin:5px" })
    </div>
}

<table class=" table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th scope="col"> Account number </th>
            <th scope="col"> Amount </th>
            <th scope="col"> Currency </th>
        </tr>
    </thead>
    @{
        decimal sum = 0;
        foreach (var bankAccount in Model)
        {
            <tr>
                <td>@bankAccount.AccountId</td>
                <td>@bankAccount.Amount</td>
                <td>@bankAccount.Currency</td>
            </tr>
            sum += bankAccount.Amount * ((decimal)1.00000000 / bankAccount.CurrencyRate);
        }
        <tr><th>Total: @sum.ToString("n5") EUR</th></tr>
    }
</table>






